p {
    color:rgb(10, 13, 22) ;
}
header {
    size: 50pc;
    color: sienna;
    text-emphasis:center ;
    background: rosybrown;
}
li {
    width: 2px;
}
body {
    color: sienna;
    background: rosybrown;
}
