p {
    color:rgb(10, 13, 22) ;
    background: rgb(132, 173, 189);
    font-style: italic;
    font-size: 25px;

}
header {
    background-color: rgb(181, 196, 247);
    color: black;
    padding: 2px;
    font-style: bold;
    font-size: 5pc;
    text-align: center;
}
ol li {
    list-style-type: decimal;
}
li {
    font-size: 25px;
    margin-left:200px ;
    
}
body {
    color: rgb(39, 19, 19);
    background-color: rosybrown;
}
head {
    background-color: rosybrown;
}
h3 {
    margin: right;
    border: black ;
    border-color: black ;
    border-style: solid;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 3pc;
}
footer {
    border: bisque;
    border-style: solid;
    text-align: center;
    font-size: 15px;
}